.navbar{
   width: 100%;
   background: lightgrey;
   position: sticky;
   top: 0;
   display: inline;
}
.itemContainer{
  margin-right: 25%
}
.navItems {
  display: flex;
  list-style: none;
}
.listItem{
  justify-content: space-around;
  padding: 4%;
  border-right: 3px;
  border-color: black;
}
@media screen and ( max-width: 634px ){
  .navbar{
    width: 100%;
  }
  .itemContainer{
    display: block;
  }
  .navItems {
    display: block;
  }
  .listItem{

  }

}
